<h1>Dashboard</h1>
<br>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        評論述
        <span class="">{{commentCounts}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        瀏覽次數
        <span class="">{{viewCounts}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        收藏數
        <span class="">0</span>
    </li>
</ul>
<br>
<a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>